/* Variables */
:root {
    --main-bg-color: #ffffff;
    --primary-color: #E01A59;
    --secondary-color : #89D3DF;
    --third-color: #ECB32D;

}
body{
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
    font-family: Inter, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.main{
    padding-top: 20px;
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 25px;
}

/* Heading */
.nav-link{
    color: black !important;
}
.active {
    background-color: var(--primary-color) !important;
    color: white !important;
}
.nav-item{
    padding-right: 15px;
}
/* Search bar */

.search {
    width: 60%;
    padding-top: 15px;
    margin: 0px auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#search-form{
    padding-left: 0px !important;
    padding-right: 0px !important;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.276);
    align-items: stretch;
    border-radius: 8px;
    background-color: #fff;
    overflow: hidden;
    max-width: 400px;
    box-shadow: 2px 1px 5px 1px rgba(0, 0, 0, 0.273);
}
#search{
    border:none;
    width:350px;
    font-size: 15px;
}
#search:focus{
    outline: none;
}
.search-icon{
    margin: 10px;
    color:rgba(0, 0, 0, 0.564);
}

#search-button{
    border:none;
    cursor: pointer;
    color:#fff;
    background-color:var(--primary-color);
    padding:0px 15px;
}

/* Weather  */

.currentWeather{
    border: 1px solid black;
    padding: 10px;
    margin-top: 30px;
}

#weatherStatus {
    padding: 10px;
    min-height: 80px;
    margin-top: 25px;
    border: 1px solid red;
}
