body{
    margin: 0;
    padding: 0;
}

.main{
    padding-top: 20px;
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 25px;
}

.search {
    width: 60%;
    margin: 0px auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.input-group{
    justify-content: center;
}