body{
    margin: 0;
    padding: 0;
}

.main{
    padding-top: 20px;
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 25px;
}

.search {
    width: 60%;
    margin: 0px auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.input-group{
    justify-content: center;
}

/* Search bar */
#search-form{
    padding-left: 0px !important;
    padding-right: 0px !important;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.276);
    align-items: stretch;
    border-radius: 50px;
    background-color: #fff;
    overflow: hidden;
    max-width: 400px;
    box-shadow: 2px 1px 5px 1px rgba(0, 0, 0, 0.273);
}
#search{
    border:none;
    width:350px;
    font-size: 15px;
}
#search:focus{
    outline: none;
}
.search-icon{
    margin: 10px;
    color:rgba(0, 0, 0, 0.564);
}

#search-button{
    border:none;
    cursor: pointer;
    color:#fff;
    background-color:#2B2A4C;
    padding:0px 10px;
}